@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(168, 242, 255), rgb(255, 191, 242));
	color: white;
	margin: 0;
	font-family: rubik;
}

