.search{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #ffffff9a;
    width: 500px;
    border-radius: 20px;
    color: rgb(121, 121, 121);
    margin: 0 auto;
    margin-bottom: 40px;
    input{
        width: 100%;
        text-decoration: none;
        border:none;
        background: none;
        outline: none;
        color: rgb(121, 121, 121);
        font-size: 1.2rem;
    }

}